@font-face {
  font-family: "Clear Sans";
  src: url('/app/assets/clear-sans.ttf') format('truetype');
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: "Clear Sans", sans-serif;
  font-size: 21px;
}

.text {
  order: 2;
  padding-top: 40px;
  width: 880px;
  font-weight: bold;
}

.board {
  order: 1;
  width: 880px;
  height: 660px;
  padding: 5px;
  background-color: #000;
  border-radius: 7px;
  outline: none;
  position: relative;
  opacity: 0.1;
}

.board .cell, .tile {
  user-select: none;
  cursor: default;
}

.ball {
  position: absolute;
  width: 110px;
  height: 110px;
  display: inline;
  left: 0;
  top: 0;
  border-radius: 50%;
  background: radial-gradient(circle at 100px 100px, #5cabff, #000);
}

.cell, .tile {
  width: 100px;
  height: 100px;
  margin: 5px;
  line-height: 90px;
  display: inline-block;
  font-size: 55px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  border-radius: 7px;
  font-family: "Clear Sans", sans-serif;
  color: #766;
  background-color: #dcb;
}


.tile { position:absolute;
  //background-image: url(/app/assets/sprites.png); font-size:0;
}
.tile0 { display: none;}
.tile1 { background-position: -500px;}
.tile2 { background-position: -400px;}
.tile3 { background-position: -300px;}
.tile4 { background-position: -200px;}
.tile5 { background-position: -100px;}
.tile6 { background-position: 0}
.tile7 { background-position: -700px;}
.tile8 { background-position: -800px;}
.tile9 { background-position: -900px;}
.tile10	{ background-position: -100px;}
.tile11	{ background-position: -600px;}


@for $row from 0 through 5 {
  @for $column from 0 through 7 {
    .position_#{$row}_#{$column} {
      top: 110 * $row + 5 + px;
      left: 110 * $column + 5+ px;
    }
  }
}

@for $fromRow from 0 through 5 {
  @for $toRow from 0 through 5 {
    $name: y_from_#{$fromRow}_to_#{$toRow};

    @if $fromRow == $toRow {
      .#{$name} {
        top: 110 * $toRow + 5 + px;
      }
    } @else {
      .#{$name} {
        animation-duration: 1s;
        animation-name: #{$name};
        animation-fill-mode: forwards;
      }

      @keyframes #{$name} {
        from {
          top: 110 * $fromRow + 5 + px;
        }
        to {
          top: 110 * $toRow + 5 + px;
        }
      }
    }
  }
}

@for $fromColumn from 0 through 7 {
  @for $toColumn from 0 through 7 {
    $name: x_from_#{$fromColumn}_to_#{$toColumn};

    @if $fromColumn == $toColumn {
      .#{$name} {
        left: 110 * $toColumn + 5 + px;
      }
    } @else {
      .#{$name} {
        animation-duration: 1s;
        animation-name: #{$name};
        animation-fill-mode: forwards;
      }

      @keyframes #{$name} {
        from {
          left: 110 * $fromColumn + 5 + px;
        }
        to {
          left: 110 * $toColumn + 5 + px;
        }
      }
    }
  }
}